<%= form_with(model: short_url, url: urls_path, local: false, id: 'new-short-url') do |form| %>
    <div id="error_explanation" style="display: none">
      <h2><%= pluralize(short_url.errors.count, "error") %> prohibited this stat from being saved:</h2>

      <ul>
        <% short_url.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="actions">
    <%= form.submit 'Сократить' %>
  </div>
<% end %>

<script>
    window.addEventListener("load", () => {
        const element = document.querySelector("#new-short-url");
        element.addEventListener("ajax:success", (event) => {
            const [_data, _status, xhr] = event.detail;
            window.location.href = `/urls/${JSON.parse(xhr.response).short_url}/stats`;
        });
        element.addEventListener("ajax:error", (event) => {
            const [_data, _status, xhr] = event.detail;
            const err_element = document.getElementById('error_explanation');
            var err_list = '<ul>';
            JSON.parse(xhr.response).messages.forEach(err => {
                err_list += `<li>${err}</li>`;
            });
            err_list += '</ul>'
            err_element.innerHTML = err_list;
            err_element.style.display = '';
        });
    });
</script>

