<p>
  <strong>Url:</strong>
  <%= short_url.url %>
</p>

<p>
  <strong>Short url:</strong>
  <%= url_url(id: short_url.short_url) %>
</p>

<p>
  <strong>Counter:</strong>
  <%= short_url.counter %>
</p>

<p>
  <strong>Visitor ip:</strong>
  <%= short_url.visitor_ip %>
</p>

<p>
  <strong>Visited at:</strong>
  <%= short_url.visited_at %>
</p>
